@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap"); /*font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;*/


html,
body {
  height: 100%;
}

body {
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 1rem;
  color: hsl(243, 87%, 12%);
  font-size: 16px;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 40px auto 0 auto;
  font-family: "Montserrat", sans-serif;
  font-size: 3.625rem;
  color: #8675a9;
  line-height: 1;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  color: #8675a9;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #8675a9;
}

p {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-top: 0;
  padding-right: 40px;
}


.image-table img {
  height: auto;
  max-width: 100%;
}

.image-table {
  border: 0px solid rgba(0, 0, 0, 0);
  border-collapse: separate;
  border-spacing: 6px;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}



.btn {
  margin: 40px auto 0 auto;
  background: rgb(193, 81, 77);
  font-family: "Montserrat", sans-serif;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 25px 2px;
  border-radius: 10px;
}

.btn:hover {
  background: rgb(246, 233, 233);
  background: linear-gradient(
    180deg,
    rgba(246, 233, 233, 1) 0%,
    rgb(193, 81, 77)
  );
  color: white;
}



.top-container {
  height: 100%;
  background: rgb(246, 233, 233);
  background: linear-gradient(
    180deg,
    rgba(246, 233, 233, 1) 0%,
    rgba(131, 13, 212, 0.4248074229691877) 100%
  );
  position: relative;
  padding-top: 200px;
}

.timeline {
  border-left: 4px solid #ffffff;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(255, 255, 255, 0.03);
  color: #333;
  font-family: "Source Sans Pro", sans-serif;
  margin: 50px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 30px;
  list-style: none;
  text-align: left;
  font-weight: 1;
  max-width: 50%;
}
.timeline h1,
.timeline h2,
.timeline h3 {
  color: #d1c071;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1.5px;
  font-weight: 100;
  font-size: 1.4em;
}
.timeline .event {
  border-bottom: 1px dashed #ffffff;
  padding-bottom: 25px;
  margin-bottom: 50px;
  position: relative;
}
.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .event:before {
  left: -217.5px;
  color: #d1c071;
  content: attr(data-date);
  text-align: right;
  font-weight: 400;
  font-size: 0.9em;
  min-width: 120px;
}
.timeline .event:after {
  box-shadow: 0 0 0 4px #d1c071;
  left: -57.85px;
  background: #fff;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}


.footer-link {
  color: #8675a9;
}

.sponsors {
  margin: 100px auto;
  line-height: 2;
}

.speakers {
  margin: 100px auto;
}

.bottom-container {
  background: rgb(246, 233, 233);
  background: linear-gradient(
    180deg,
    rgba(246, 233, 233, 1) 0%,
    rgba(131, 13, 212, 0.4248074229691877) 100%
  );
  padding: 50px;
}
.copyright {
  font-size: 12px;
  color: white;
  margin-top: 30px;
}
.footer-link {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #8675a9;
  display: inline-block;
  width: 100px;
}


.navbar {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  margin: 30px 30px;
}

.navigation {
  margin-left: auto;
  margin-top: 20px;
}

.navbar a {
  font-family: "Raleway", sans-serif;
  color: hsl(243, 87%, 12%);
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  font-weight: 700;
}

.navbar a:hover {
  transform: scale(1.1);
}



.timeline-container {
  background-color: hsl(238, 22%, 44%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  padding: 60px 40px 60px 40px;
}

@media screen and (max-width: 780px) {
  .body {
    width: 100vw;
  }

  .navbar {
    padding: 15px 15px;
    margin-bottom: 10%;
  }

  .navbar a {
    font-size: 0.7em;
    padding: 0px 10px;
  }


  h1 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin-top: 20px;
  }

  p {
    width: auto;
    font-size: 0.9em;
    line-height: 1.5em;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 0;
  }


  .timeline-container {
    background-color: hsl(238, 22%, 44%);
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 30px;
  }

  .timeline .event:before {
    left: -0.5px;
    top: 28px;
    background-color: #ffffff;
    color: white;
    margin-top: 8px;
    padding: 2px 8px 2px 8px;
    content: attr(data-date);
    text-align: right;
    font-weight: 400;
    font-size: 0.9em;
    min-width: 120px;
  }
  .timeline .event p {
    top: 27px;
    padding: 10px 0px 10px 0px;
    position: relative;
  }

}
