body>#root>div {
    height: 100vh;
    scroll-behavior: smooth !important;
    font-family: "GT Walsheim Pro" !important;
}


/* html * {
    font-family: "GT Walsheim Pro" !important;
}

html>*p {
    font-family: "GT Walsheim Pro" !important;
} */